@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.carousel {
	margin: 2vh auto;
	width: 20vw;
}

.carding {
	height: 20vh;
}

/******************************************/

#services {
	margin: 0 13vw;
	padding: 1vh 1vw;
	padding-bottom: 6vh;
	background-color: #eeeeee;
	-webkit-box-shadow: inset 0px 7px 5px -4px rgba(117,117,117,1);
	-moz-box-shadow: inset 0px 7px 5px -4px rgba(117,117,117,1);
	box-shadow: inset 0px 7px 5px -4px rgba(117,117,117,1);
}

#services > h5 {
	font-family: "Playfair Display SC", "Playfair Display";
	font-size: 1.875vw;
	text-align: center;
	margin-bottom: 5vh;
}

.service-boxes {
	display: flex;
	justify-content: space-around;
}

.service-box {
	width: 16vw;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.service-box > h6 {
	font-family: "Roboto Serif", "Playfair Display SC";
	font-weight: 500;
	font-size: 1.25vw;
}

.service-container {
	width: 9.6vw;
	height: 9.6vw;
	margin-bottom: 1.85vh;
	background-color: #d9d9d9;

	border-radius: 1.875vw;
	border: 1px solid #f1f1f1;

	-webkit-box-shadow: 10px 10px 32px -12px rgba(148,148,148,1);
	-moz-box-shadow: 10px 10px 32px -12px rgba(148,148,148,1);
	box-shadow: 10px 10px 32px -12px rgba(148,148,148,1);

	display: flex;
	justify-content: center;
	align-items: center;
}

.service-container > img {
	width: 7.30vw;
}

.service-box > p {
	font-family: "Alegreya Sans", "Roboto";
	font-size: 1.25vw;
	width: 16vw;
}

.service-line {
	margin: 6.5vh 8.625vw;
	width: 56.25vw;
	border-top: 1px solid #a0a0a0;
	background-color: #eeeeee;
}

/******************************************/
.powered-bys {
	display: flex;
	justify-content: space-around;
}

.powered-by {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.powered-by > p {
	font-family: "Roboto", sans-serif;
	text-align: center;
	font-size: 1.25vw;
	width: 10vw;
}

.powered-by > img {
	margin-bottom: 0.65vh;
	width: 7.5vw;
	height: 7.5vw;
}

/******************************************/

.transition-review-youtube {
	margin: 0 13vw;
	background: url("../../assets/transition_ry.svg");
	background-position: center;
	background-size: contain;
	background-color: black;
	background-repeat: no-repeat;
	height: 18vh;
}

/******************************************/

.browse-taylor-swift {
	margin: 0 13vw;
}

.transition-pb {
	background: url("../../assets/transition_pb.svg");
	background-position: center;
	background-size: cover;
	background-color: #eeeeee;
	background-repeat: no-repeat;
	height: 15vh;
}

.transition-ba {
	background: url("../../assets/transition_ba.svg");
	background-position: center;
	background-size: cover;
	background-color: white;
	background-repeat: no-repeat;
	height: 11vh;
}

.taylors-section {
	height: 25vh;
	background-color: black;
	
	display: flex;
	justify-content: center;
}

.taylors-section > img {
	width: 20vw;
	border-radius: 0.20vw;
	filter: blur(2px);
}

.taylors-stats {
	width: 18vw;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.taylors-stats > a {
	font-family: "PlayFair Display", serif;
	color: #ADAF5C;
	font-size: 1.25vw;
	margin-bottom: 3vh;
}

.white {
	color: white;
}

.gold {
	color: goldenrod;
	margin-top: 3vh;
}
/*		_________	Taylors Albums	______		*/
.taylor-title {
	margin: 5vh 0;
	font-family: "Bebas Neue";
	text-align: center;
	font-size: 3vw;
}

.taylors-albums {
	margin: 0 13vw;
	padding: 1vh 2vw;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
}



.taylor-album {
	display: none;
}

.taylor-album.active {
	display: block;
}

.carousel {
	width: fit-content;
}

.carousel-button {
	border: 1px solid lightgray;
	border-radius: 50%;
	padding: 0.5vw;
	margin: 0 0.5vw;
	font-size: 1.5vw;

	width: 4vw;
	height: 4vw;
}

.carousel-button:focus {
	border: 2px solid blue;
}

.carousel-button:hover {
	background-color: #ebebeb;
}

.carousel-button:active {
	background-color: white;
}

.carousel > div > div.taylor-album.active > a > img {
	width: 30vw;
}


.taylor-album-details {
	text-align: center;
	align-self: center;
	margin-top: 5vh;
}

.taylor-reviews {
	margin-bottom: 20vh;
}

.taylor-reviews > .taylor-album.active {
	display: grid;
	grid-template-columns: repeat(3, 25vw);
	justify-content: center;
	justify-items: center;
	align-items: center;
	align-content: center;
	text-align: center;
}

.taylor-album > p {
	font-size: 1vw;
}

.taylor-album > a {
	font-size: 1vw;
	margin: 2vh 0;
}

.taylor-reviews > .taylor-album > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fancy-review {
	font-size: 1vw;
	max-height: fit-content;
	font-family: "Playfair Display";

}
.taylor-album > div > p {
	margin-top: 2vh;
}

.review-stars {
	width: 15vw;
}
/******************************************/

.youtube-section {
	display: flex;

}

.youtube-section {
	margin: 0 13vw;

	padding: 20vh 10vw;
	background-color: black;

	display: flex;
	justify-content: center;
	align-items: center;
}

.itunes-section {
	margin-right: 2vw;
}

.itunes-heading {
	color: white;
	font-family: "Noto Serif JP", "Playfair Display";
	font-size: 1.25vw;
	margin-bottom: 2vh;
}

.itunes-lorem-ipsum {
	color: white;
	width: 20vw;
	font-weight: 100;
	font-size: 0.625vw;
}

iframe {
	height: 25vh;
	width: 20vw;
	border-radius: 16px;
}

iframe:focus {
	border: 2px solid white;
}

/**********************    FOOTER 	**********************/

footer {
	margin: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #eeeeee;

	padding: 4vh 13vw;

	-webkit-box-shadow:	inset 0px 30px 15px -16px rgba(170, 170, 170, 0.288);
	-moz-box-shadow: inset 0px 30px 15px -16px rgba(170, 170, 170, 0.288);
	box-shadow: inset 0px 30px 15px -16px rgba(170, 170, 170, 0.288);

}

.footer-title {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.5vw;
	font-weight: 400;
  	font-style: normal;
}

.footer-body {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footer-leftie {
	display: flex;
	flex-direction: column;
}

.footer-leftie > label {
	margin-top: 5vh;
	font-size: 1vw;
	font-weight: 800;
	margin-bottom: 0.8vh;
}

#footer-signup-email {
	height: 4vh;
	width: 15vw;
	padding-left: 0.5vw;

	background-color: #eeeeee;

	border-radius: 16px;
	border: 1px solid #bbbbbb;
	font-family: "Playfair Display";
}

#footer-signup-email:focus {
	background-color: white;
}

#footer-signup-email::placeholder {
	font-family: sans-serif;
}

.footer-button {
	align-self: center;
	margin-top: 3vh;
	
	background-color: #e6e6e6;
	border-radius: 1.3vw;

	width: 6vw;
	height: 5vh;
	box-shadow: 2.4px 3px 6px 0 rgb(136, 136, 136);
}

.footer-button:focus:focus {
	outline: 2px solid black;
}

.footer-button:active {
	background-color: white;
}

.footer-rightie {
	display: flex;
	gap: 5vw;
	font-size: 0.6vw;
}

.footer-rightie > div > p:first-of-type{
	font-size: 0.8vw;
	font-weight: 800;
}

.footer-rightie > div > p > a {
	color: black;
}

.footer-rightie > div > p > a:focus {
	font-weight: bolder;
}

.footer-address {
	color: black;
}

.footer-socials {
	display: flex;
	flex: auto;
	gap: 1vw;
}

.footer-socials > a {
	width: 1.6vw;
}

.footer-socials > a:focus {
	font-weight: bolder;
}

.footer-footer {
	margin-top: 3vh;
	border-top: 1px solid #cccccc;
	padding-top: 0.8vh;

	color: #636363;
	text-align: center;
	font-family: "Noto Serif JP", "Playfair Display";
}