@media screen and (max-width: 800px) {
	#services, .transition-review-youtube, .browse-taylor-swift, .taylors-albums, .youtube-section {
		margin: 0;
	}

	.transition-review-youtube, .transition-ba, .transition-pb {
		display: none;
	}

	/*****************************************************/

	#services {
		margin-top: 4.5vh;
	}

	#services > h5 {
		font-size: 4vw;
	}

	.service-box {
		width: 25vw;
	}

	#services > h5:first-of-type {
		margin-top: 1vh;
	}

	.service-container {
		width: 20vw;
		height: 20vw;
	}

	.service-box > h6 {
		font-size: 3vw;

	}

	.service-container > img {
		width: 15vw;
	}

	.service-box > p {
		font-size: 2.8vw;
		width: fit-content;
	}

	.service-line {
		width: 80vw;
		margin: 4vh 8vw;
	}

	/*****************************************************/

	.powered-by > p {
		font-size: 3vw;
		width: fit-content;
	}
	
	.powered-by > img {
		width: 15vw;
		height: 15vw;
	}


	/*****************************************************/

	.taylors-section {
		padding: 3vw 1vw;
		justify-content: space-between;
		align-items: center;
	}

	.taylors-stats {
		font-size: 2.5vw;
		height: fit-content;
		width: fit-content;
	}

	.taylors-stats > a {
		font-size: 3vw;
	}

	.taylors-section > img {
		width: 40vw;
		height: 20vw;
	}

	/*****************************************************/
	
	.taylor-reviews {
		margin-bottom: 2vh;
	}

	.taylor-title {
		font-size: 5vw;
		margin: 0;
		margin-top: 3vh;
	}

	.carousel {
		width: fit-content;
	}
	
	.carousel > div {
		width: fit-content;
	}
	
	.carousel > div > div.taylor-album.active > a {
		margin: 0;
		padding: 0;
	}

	.carousel > div > div.taylor-album.active > a > img {
		width: 70vw;
	}

	.carousel > button {
		width: 6vw;
		height: 6vw;
		font-size: 3vw;
	}

	.taylor-album {
		gap: 8vw;
	}

	.taylor-album > p, .taylor-album > a {
		font-size: 3vw;
	}

	.fancy-review {
		font-size: 4vw;
	}

	.taylor-album.active > div > p {
		margin-top: 1vh;
		font-size: 2vw;
	}

	.review-stars {
		width: 25vw;
	}

	/*****************************************************/
	
	.youtube-section {
		padding: 3vh 2vw;

		justify-content: space-around;
	}

	.itunes-lorem-ipsum {
		font-size: 2vw;
		width: fit-content;
	}

	.itunes-heading {
		font-size: 3vw;
	}

	iframe {
		height: 40vw;
		width: 40vw;
		border-radius: 16px;
	}

	/*****************************************************/

	footer {
		padding: 1vh 1vw;
	}

	.footer-footer {
		font-size: 2vw;
	}
	
	.footer-title {
		font-size: 3vw;
	}

	/* ---------------------------------------- */

	.footer-leftie > label {
		margin-top: 0;
		font-size: 2vw;
	}

	#footer-signup-email {
		width: 40vw;
		height: 5vw;
		padding-left: 2vw;
		font-size: 2vw;
	}

	.footer-button {
		margin-top: 1vh;
		width: 10vw;
		height: 5vw;
		font-size: 2vw;
	}

	.footer-rightie {
		width: 40vw;
		display: flex;
		justify-content: space-between;
		font-size: 1.8vw;

	}

	.footer-rightie > div > p:first-of-type{
		font-size: 2vw;
	}

	.footer-socials > a {
		width: 2.5vw;
	}
	
	

}