@media screen and (max-width: 600px) {	
	.desktop-only {
		display: none;
	}

	#album-details > img {
		display: none;
	}

	#album-details {
		margin: 0 auto;
		margin-top: 7vh;
		width: 95vw;

	}

	.album-leftie {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 90vw;
	}

	.album-leftie > div {
		display: flex;
		justify-content: space-between;
		width: 90vw;

		padding: 0 2vw;

	}

	.top-album-info {
		flex-direction: column;
	}

	.gray {
		margin-top: 2vh;
	}

	.gray > p, .gray > a {
		font-size: 3vw;
		max-width: 40vw;

	}

	.album-metrics {
		display: flex;
		justify-content: space-between;
	}

	.album-metrics > p {
		font-size: 3vw;
	}

	.album-metrics > p > strong {
		display: block;
	}

	.album-name {
		display: flex;
		flex-direction: column;

		text-align: center;

		margin-bottom: 2vh;
	}

	.album-name > div > h2 {
		font-size: 4vw;
	}
	
	.album-name > div > h2:first-child {
		font-size: 4vw;
	}

	#album-cover {
		width: 50vw;
		height: 50vw;

		margin: 0 auto;
	}

	#album-cover:hover {
		width: 80vw;
		height: 80vw;
	}

	/**************************************/

	#trackList {
		padding: 0;
	}

	.album-track {
		width: 95vw;
		height: 20vw;

		padding: 0 3vw;

		font-size: 5vw;

		border-radius: 0;

	}

	.album-track:first-of-type {
		border-top-left-radius: 2.22vw;
		border-top-right-radius: 2.22vw;
	}

	.album-track:last-of-type {
		border-bottom-left-radius: 2.22vw;
		border-bottom-right-radius: 2.22vw;
	}

	.track-rightie > button {
		width: 10vw;
		height: 10vw;
	}



}