@media screen and (max-width: 600px) {
	/* Your mobile-specific styles here */
	.desktop-only {
		display: none;
	}

	.Header {
		position: fixed;
		top: 0;
	}

	.artist-albums {
		margin-left: 0;
		
		display: flex;
		align-items: center;
		
	}

	.artist-albums > a {
		padding: 3vw;
		margin: 1vh 0;
		width: 95vw;

		border: 1px solid #c0c0c0;
		border-radius: 1.11vw;

		font-size: 3vw;
	}

	.artist-albums > a:first-child {
		margin-top: 12vh;
	}

	.artist-albums > a:last-child {
		margin-bottom: 15vh;
	}

	.artist-album-cover {
		width: 22vw;
		border-radius: 0.66vw;
	}

	.artist-album-cover:hover {
		width: 35vw;
	}

	.artist-info {
		position: fixed;
		top: 8vw;
		padding-top: 2vh;

		width: 100%;
		background-color: #000000cc;
		
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.artist-info > p {
		text-align: center;
		font-size: 5vw;
		color: white;
	}

	.artist-info > input {
		width: 83vw;
		height: 3.75vh;
		margin: 1.875vh 0;

		border-radius: 32px;
		text-align: center;

		-webkit-box-shadow: inset 10px 10px 18px -6px rgba(33,33,33,1);
		-moz-box-shadow: inset 10px 10px 18px -6px rgba(33,33,33,1);
		box-shadow: inset 10px 10px 18px -6px rgba(33,33,33,1);
	}

	.artist-bottom-panel {
		position: fixed;
		bottom: 0;

		width: 100%;
		height: 10vh;
		background-color: hsla(0, 0%, 0%, 0.6);
		color: white;

		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.artist-bottom-panel > div {
		width: 20vw;
		height: 5vh;
		text-align: center;

		position: relative;
	}

	.drop-up-filter-albums-artist {
		display: none;
	}

	.bottom-pane-filter {
		display: flex;
		align-items: center;
		justify-content: center;

	}

	.bottom-pane-filter:hover > .drop-up-filter-albums-artist {
		display: flex;
		flex-direction: column-reverse;
		gap: 3vh;

		position: absolute;
		bottom: 7vh;

		background-color: rgba(0, 0, 0, 0.5);

		border-top-left-radius: 10vw;
		border-top-right-radius: 10vw;
		border-radius: 4vw;
		

		-webkit-box-shadow: 0px 0px 28px 8px rgba(148,148,148,1);
		-moz-box-shadow: 0px 0px 28px 8px rgba(148,148,148,1);
		box-shadow: 0px 0px 28px 8px rgba(148,148,148,1);
	}

	.drop-up-filter-albums-artist > button {
		background-color: black;
		border-radius: 10vw;

		color: white;

		height: 5vh;
		width: 30vw;
	}

	.drop-up-filter-albums-artist > button:hover {
		color: black;
		background-color: white;
	}

	.bottom-panel-sort {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
		

		position: relative;

	}

	.hovering-sort-artist {
		display: none;

	}

	.bottom-panel-sort:hover > .hovering-sort-artist {
		display: flex;
		flex-direction: column-reverse;
		gap: 3vh;

		border-radius: 4vw;
		background-color: rgba(0, 0, 0, 0.5);

		position: absolute;
		bottom: 7vh;
		
	}

	.hovering-sort-artist > button {
		background-color: black;
		color: white;
		
		border-radius: 10vw;

		height: 5vh;
		width: 30vw;
	}

	.hovering-sort-artist > button:hover {
		background-color: white;
		color: black;
	}
  }