@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
	background-color: white;
	font-family: 'San Francisco', Helvetica, sans-serif;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	padding: 0;
	margin: 5vh 5vw;
	
	border-radius: 8px;

	background-color: black;
	color: goldenrod;
	box-shadow: 10px 10px 156px -58px rgba(0,0,0,0.75);
}

.title > h3 {
	margin-bottom: 2vh;
}

.rank-container {
	display: grid;
	justify-content: center;
	margin: 5vh 5vw;
	grid-template-columns: repeat(3, 29vw);
	gap: 1vw;
}

.ranking {
	background-color: rgb(212, 212, 212);
	padding: 2vh 1.5vw;
	border-radius: 3px;
}

.ranking-title {
	text-align: center;
	background-color: white;
	margin: 0;
	padding: 4vh 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 1px solid lightgray;
	

}

/*************** SONG ****************/

.song {
	padding-right: 1vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	color: black;
}

.song:nth-child(odd){
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}

.song:hover {
	background-color: lightyellow;
	color: black;

}

.song > .leftie {
	display: flex;
	align-items: center;
}

.song > .leftie > p {
	max-width: 15vw;
}

.song > .rightie {
	color: black;
}

.song > .leftie > img {
	width: 6vw;
	margin-right: 0.6vw;
	border-radius: 1px;
	transition: width 1s;
}

.song > .leftie > img:hover {
	width: 9.3vw;
}