#login-form {
	margin: 0 auto;
	margin-top: 15vh;
	width: fit-content;

	padding: 4vh 2vw;
	border-radius: 0.41vw;

	background-color: #eeeeee;
	border: 1px solid #cecece;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3vh;

	-webkit-box-shadow: 10px 9px 17px 0px rgba(206,206,206,1);
	-moz-box-shadow: 10px 9px 17px 0px rgba(206,206,206,1);
	box-shadow: 10px 9px 17px 0px rgba(206,206,206,1);

	
}

#login-form > div {
	display: flex;
	align-items: center;
	gap: 1.04vw;
}

#login-form > div > label {
	font-size: 1.85vh;
}

#login-form > div > input {
	height: 2.5vw;
	width: 12vw;
	border-radius: 0.4vw;

	font-size: 1.85vh;

	padding: 1vh 0.5vw;

	-webkit-box-shadow: inset 10px 10px 5px -6px rgba(206,206,206,1);
	-moz-box-shadow: inset 10px 10px 5px -6px rgba(206,206,206,1);
	box-shadow: inset 10px 10px 5px -6px rgba(206,206,206,1);
}

#login-form > div > input:focus {
	background-color: #f7f9ff;
	outline: 1px solid black;
}

.seperator {
	height: 1px;
	width: 20vw;
	margin: 1.5vh 0;
	background-color: #ccc;
}

#login-button {
	border: none;
	border-radius: 8px;
	width: 6vw;
	height: 4vh;

	background-color: #3A4DB2;
	color: white;


	-webkit-box-shadow: 10px 9px 17px 0px rgba(206,206,206,1);
	-moz-box-shadow: 10px 9px 17px 0px rgba(206,206,206,1);
	box-shadow: 10px 9px 17px 0px rgba(206,206,206,1);
}

.login-errors {
	font-size: 1.2vw;
	margin-bottom: 2vh;
}