/*				Profile Section				*/
.profile-details {
	background-color: #eeeeee;
	margin: 0 25vw;
	margin-top: 2.5vh;
	padding: 2vh 1.5vw;
	border-radius: 8px;
	border: 1px solid lightgray;
}

h3 {
	margin: 0;
	font-size: 1.33vw;
}

.profile-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mood {
	margin-top: 2vh;
	margin-bottom: 1vh;
	background-color: lightgray;
	padding: 0.75vh 0.5vw;
	height: 24vh;
	width: 25vw;
	border-radius: 6px;

	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.mood > div {
	display: flex;
	align-items: baseline;
	gap: 0.5vw;
	font-size: 0.9vw; /* current mood font size */
}
.search-query {
	width: 13vw;
	background-color: lightgray;
	border: none;
	font-size: 0.7vw;
}

.search-query:focus {
	background-color: white;

}

#giffy {
	height: 18vh;
	max-width: max(23vw);
	margin: 0 auto;
	border-radius: 4px;
}

h5 {
	margin: 0;
	margin-bottom: 0.5vh;
}

.metrics > .stat > p {
	margin: 0;
	font-size: 0.8vw;

}
.metrics > .stat {
	margin-bottom: 2vh;
}

.metrics > .stat:last-of-type {
	margin-bottom: 0;
}

/*****************SONGS********************/
.playlist {
	margin: 0 25vw;
	margin-top: 4vh;
}

.playlist-title {
	display: flex;
	justify-content: space-between;
	background-color: #e6e6e6;
	padding: 3vh 1.5vw;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border: 1px solid lightgray;
	border-bottom: none;
}

.playlist-title > h3 {
	font-weight: lighter;
}

.playlist-content {
	background-color: #fafafa;
	padding: 2vh 2vw;
	border: lightgray 1px solid;
	border-top: none;
}

/*		Song		*/
.playlist-song {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #e6e6e6;
	padding: 0.5vh 1vw;
	border-radius: 6px;
	-webkit-box-shadow: 0px 4px 5px -1px gray;
	-moz-box-shadow: 0px 4px 5px -1px gray;
	box-shadow: 0px 4px 5px -1px gray;
}

.leftie {
	display: flex;
	align-items: center;
	gap: 1vw;
}

.album-cover {
	height: 5vw;
	width: 5vw;
	background-color: white;
	margin: 1vh 0;
}

.song-details > p {
	margin: 0;
	margin-bottom: 0.5vh;
	font-weight: bold;
	font-size: 0.8vw;
}

#remove-button {
	padding: 1vw;
	border-radius: 24px;
	width: 9vw;
	border: none;
	background-color: #cacaca;
	color: black;
	font-size: 1vw;
	-webkit-box-shadow: 0px 4px 5px -1px gray;
	-moz-box-shadow: 0px 4px 5px -1px gray;
	box-shadow: 0px 4px 5px -1px gray;
}

#remove-button:active {
	background-color: white;
}