@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sawarabi+Mincho&family=Tenor+Sans&display=swap');

@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/*
"Roboto"
"Roboto Sans"
"Bebas Neue"
"Playfair Display SC"
"Playfair Display"
"Tenor Sans"
"Oswald"
"Noto Sans JP"
"Noto Serif JP"
"EB Garamond"
"Sawarabi Mincho"
*/

body {
	font-family: 'San Francisco', Helvetica, sans-serif;
	margin: 0;
}

.Header {
	display: grid;
	grid-template-columns: repeat(4, 25vw);
}

.Header > div {
	padding: 2vw 4vw;
	background-color: black;
	color: white;

	border-color: white;
	text-align: center;
}

.Header > div > a {
	text-decoration: none;
	color: white;
}

.Header > div > a:focus {
	font-weight: bolder;
}

/*********************************/

.music-player {
	position: fixed;
	bottom: 5vh;
	right: 30vw;
	width: 40vw;
	margin: 0 auto;
}

.player-stop-button {
	position: fixed;
	bottom: 5vh;
	right: 20vw;

	border: 1px solid black;
	border-radius: 64px;
	padding: 1vw;
}

.player-stop-button:hover {
	background-color: rgb(237, 150, 100);
}

.invisible {
	display: none;
}

a:focus {
	border: 1px solid blue;
}