@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
	font-family: 'San Francisco', Helvetica, sans-serif;
	margin: 0;
}

.Header {
	display: grid;
	grid-template-columns: repeat(4, 25vw);
}

.Header > div {
	padding: 2vw 4vw;
	background-color: black;
	color: white;

	border-color: white;
	text-align: center;
}

.Header > div > a {
	text-decoration: none;
	color: white;
}

.Header > div > a:focus {
	font-weight: bolder;
}

/*********************************/

.music-player {
	position: fixed;
	bottom: 5vh;
	right: 30vw;
	width: 40vw;
	margin: 0 auto;
}